* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

#menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 25px;
  box-shadow: 0px 4px 3px -4px #000;
}

#menu a {
  background-color: #555;
  color: #fff;
  padding: 12px 35px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.8rem;
  transition: background 0.3s;
}

#menu a:hover {
  background-color: #999;
}

/* NÃO ALTERE DAQUI PRA CIMA */
/* ESCREVA SEU CÓDIGO ABAIXO */

.layout01 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.layout01 .cabecalho {
  padding: 20px;
  text-align: left;
  background-color: red;
  color: white;
}

.layout01 .rodape {
  padding: 20px;
  text-align: left;
  background-color: red; 
  color: white;
}

.layout01 .meio {
  display: flex;
  gap: 10px;
}

.layout01 .coluna-artigos {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 10px;
}

.layout01 .artigo {
  padding: 20px;
  background-color: #ecf0f1; 
}

.layout01 .menu-lateral {
  padding: 20px;
  background-color: #ecf0f1; 
  flex: 1;
}

.layout02 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tabuleiro {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 40px);
  width: 320px;
  height: 320px;
}

.bloco {
  width: 40px;
  height: 40px;
}

/* Padrão preto */
.bloco {
  background-color: black;
}

/* Regras para deixar em xadrez */
.bloco:nth-child(odd):nth-child(-n + 8),
.bloco:nth-child(even):nth-child(n + 9):nth-child(-n + 16),
.bloco:nth-child(odd):nth-child(n + 17):nth-child(-n + 24),
.bloco:nth-child(even):nth-child(n + 25):nth-child(-n + 32),
.bloco:nth-child(odd):nth-child(n + 33):nth-child(-n + 40),
.bloco:nth-child(even):nth-child(n + 41):nth-child(-n + 48),
.bloco:nth-child(odd):nth-child(n + 49):nth-child(-n + 56),
.bloco:nth-child(even):nth-child(n + 57):nth-child(-n + 64) {
  background-color: white;
}


.layout03 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.layout03 .header {
  padding: 20px;
  font-weight: bold;
  color: white;
  background-color: green;
}

.layout03 .footer {
  padding: 20px;
  font-weight: bold;
  color: white;
  background-color: green;
}

.layout03 .conteudo {
  display: flex;
  gap: 10px;
}

.layout03 .menu {
  padding: 20px;
  flex: 1;
  background-color: #ecf0f1; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layout03 .menu button {
  background: #bdc3c7;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.layout03 .main {
  padding: 20px;
  flex: 3;
  background-color: #ecf0f1; 
}

.layout03 .ads {
  padding: 20px;
  flex: 1;
  background-color: #ecf0f1;
}
